* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    background-color: rgb(236, 246, 255);
}

#graphic {
    margin-top: 15px;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.biography {
    margin-top: 15px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(65, 65, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.qualities {
    margin-top: 15px;
}

.qualities div {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.qualities div + div {
    border-left: solid thin gray;
}

.blueTxt {
    color: rgb(65, 65, 255);
    font-weight: bold;
}

.projects section {
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 700px;
}

.poppyPlaytimeHTML img {
    width: 10px;
    height: 10px;
}

.projects section + section, .perviousStudies div + div {
    border-left: solid thin gray;
}

.perviousStudies div {
    display: inline-block;
    vertical-align: top;
    width: 700px;
    margin-bottom: 25px;
}

.perviousStudies, .projects {
    margin-top: 55px;
}

#pfp {
    border-radius: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: cyan;
}